<!-- Product Carosoul -->
      <section class="container d-none d-lg-block product-carousel mt-5 mb-2" id="home">
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="3000">
              <img src=" /static/images/banners/everyday_banner.jpg" class="d-block w-100 rounded" alt="..." style="height: 250px; width: 970px">
            </div>
            <div class="carousel-item" data-bs-interval="3000">
              <img src="/static/images/banners/amul.jpg" class="d-block w-100 rounded" alt="..." style="height: 250px; width: 970px">
            </div>
            <div class="carousel-item" data-bs-interval="3000">
              <img src="/static/images/banners/Home-banner1.png" class="d-block w-100 rounded" alt="..." style="height: 250px; width: 970px">
            </div>
            <div class="carousel-item" data-bs-interval="3000">
              <img src="/static/images/banners/Nestle-a-pluse-banner.jpg" class="d-block w-100 rounded" alt="..." style="height: 250px; width: 970px">
            </div>
            <div class="carousel-item" data-bs-interval="3000">
              <img src="/static/images/banners/3d-cheddar-cheese-banner-ad.jpg" class="d-block w-100 rounded" alt="..." style="height: 250px; width: 970px">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </section>